/* universal selector */
*{
    margin: 0;
    padding: 0;
}
/* body tf the portfolio */
body{
    background-image: url(Ab.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1vh;
    font-family:Arial, Helvetica, sans-serif ;
    /* padding-left: 1in; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    gap: 7.2in;
    /* padding-top: 10px; */
    height: fit-content;
    border-top: 10px solid red;
    border-bottom: 10px solid red;
    align-items: center;
  width: 100vw;
}


  /* div casing */
  .casing{
    display: flex;
    justify-items: center;
    align-items: center;
    height: 82vh;
    gap: 6in;
  }
  /* div texts */
  .texts{
    line-height: 40px;
  }
  /* paragraphs p */
  p{
    font-size: 25px;
    color: #c71d1d;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
  }
  /* heading1, (I'm Jesutomi) */
  h1{
    color: black;
    font-weight: 1000;
    font-size: 50px;
    margin-bottom: 10px;
  }
  /* h2 (Porfolio and Frontend.... )  */
  h2{
   font-family: fantasy;
    color: rgba(180, 23, 194, 0.932);
  }
  /* buttons */
  button{
    background-color: blue;
    height: 1.4cm;
    width: 5cm;
    color: white;
    border-radius: 5px;
    box-shadow: 0 5px 0 10px;
  }
button a{
    color: maroon;
}
  /* image */
  .image{
    z-index: -1;
    padding-top: 90px;
  }
  /* nav bar */
nav ul{
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-size: 20px;
  border-radius: 12px 0 8px 0;
}
#blue{
  font-size: 45px;
  padding-left: 10px;
  /* font-family: 'Playfair Display'; */
}
a{ 
  text-decoration: none;
  font-weight: 1000;
}  
li a {
display: inline-block;
color: rgb(173, 10, 10);
text-align: center;
padding: 14px 16px;
text-decoration: none;
text-transform: uppercase;
}
li a:hover,.drop:hover{
background-color: rgb(72, 117, 202);
box-shadow: 0px 12px 16px 5px rgba(2, 1, 44, 0.911);
border-radius: 5px;
}
li.drop{
display: inline-block;
}
.content {
display: none;
position: absolute;
background-color: #b4d1f3;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(68, 7, 7, 0.685);
z-index: 1;
}
.content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
text-transform: capitalize;
}
.content a:hover {
  background-color: #8916be5d;
}
.drop:hover .content {
display: block;
}
.tag1 a:hover{
  color: blue;
}
.tag2 a:hover{
  background-color: black;
  color: white;
}
.tag3 a:hover{
  background-color: white;
  color: rgb(36, 95, 221);
}
.tag4 a:hover{
  background-color: rgb(7, 87, 7);
  color: #c71d1d;
  
}
/* end of nav bar */

/* about.html css */
  /* about me  */
  section{
    background-image: linear-gradient(to right, rgba(235, 235, 241, 0.616),rgba(41, 34, 34, 0.596),rgba(223, 223, 182, 0.966));
    height: 110vh;
    margin-top: 75px;
  }
  aside{
    margin: 1in;
    color: rgb(20, 48, 48);
  }
 /* h1 about    */
  #abo{
    text-align: center;
    color: rgb(214, 213, 145);
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 5px double #c71d1d;
    border-top: 10px solid brown;
    border-width: 50%;
  }
  /* p texts */
  .one{
    margin-top: -25px;
    color: rgb(24, 26, 167);
    font-size: 25px;
    /* text-align: center; */
    text-indent: 20px;
    /* margin-left: 30px; */
    line-height: 50px;
  }
  .hob{
    margin-left: 1in;
    margin-bottom: 35px;
    padding: 5px;
    border: 4px dotted whitesmoke;
    border-radius: 0 10px 5px 10px;
    background-color: #b4d1f3;
    width: fit-content;
    font-family: 'Courier New', Courier, monospace;
  }
.gif li,.gif li::marker{
  margin-left: 30px;
  margin-top: 20px;
  color: chocolate;
}
footer{
  text-align: right;
  font-size: large;
  font-family: fantasy;
}
/* skills.html css */
/* my skills */
/* differential body */
#body{
  background-image: linear-gradient(to right, rgba(42, 53, 207, 0.397), rgba(228, 228, 235, 0.082), rgba(255, 255, 255, 0.322));
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}
main{
  margin: 50px;
  color: rgb(10, 60, 83);
}
/* h1 skills */
.ski{
  color: rgb(199, 16, 16);
  text-transform: uppercase;
  /* margin-bottom: 100px; */
  text-align: center;
  border-bottom: 15px dashed blueviolet;
  border-top: 15px solid blue;
  /* position: fixed; */
  /* left: 7in; */
}
/* .eight::marker{
  color: crimson;
  list-style-position: inside;
  list-style-type: disc;
} */
.eight{
  font-size: 35px;
  display: flex;
  flex-direction: column;
  margin-left: 1in;
  margin-bottom: 30px;
}
.dev{
  font-size: 40px;
  border-bottom: 13px solid rgba(4, 4, 119, 0.589);
  margin-bottom: 50px;
}
.dfg{
  text-indent: 30px;
  color: rgb(2, 4, 17);
  font-size: 25px;
}
.im img{
  cursor: zoom-in;
}
.im{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  width: 40vw;
  flex-wrap: wrap;
  gap: 10vh; 
}
.data{
  font-size: 27px;
  text-indent: 30px;
  color: rgb(2, 4, 17);
}
.btn{
  color: white;
}



  
